<%- include("header") %>

<h1>Welcome <%= user %> </h1>

<ul>
    <% pantries.forEach(items=>{ %>
      <li>
        <%= items.name + " - " + items.description; %>
      </li>
    <%});%>
</ul>

<%- include("footer") -%>
