html,
body {
  height: 100%;
}

nav {
  background-color: #F0A500;
}

body {
  background-color: #FFF89A;
  align-items: center;
  text-align: center;
}

.logo-img{
  width: 96px;
  height: 106px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  border-radius: 0;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-light .navbar-brand {
    color: #FFF;
    padding-left: 10%;
    font-family: 'Montserrat', sans-serif;
}

.pantries{
  margin: 5% 10%;
}

.pitem{
  margin-bottom: 20px;
}

.pantry{
  background-color: #FAFFAF;
  height: 192px;
  border-radius: 10%;
  box-shadow: 10px 10px #E2DEA9;
}

.info-image{
  width: 96px;
}

.btn-pantry{
  background-color: transparent;
  border: 0px;
}

.content{
  align-items: center;
  margin: 5% 30%;
  /* border: 2px solid; */
}

.table-content{
  width: 100%;
}

.item-delete{
  width: 10%
}

.item-description{
  width: 50%;
}

.item-amount{
  width: 30%;
}

.item-action{
  width: 20%
}

/* form .btn{
  border-radius: 50%;
  text-align: justify;
} */

.input-amount{
  width: 40%;
}

table, th, td{
  /*border: 1px solid;*/
}
